body {
    margin: 0;
    font-family: 'Smythe', cursive;
    
    
}
.container{
    width: 600px;
    height: 1161px;
    margin: 0 auto;
        
}
.image-container{
    height: 150px;
    background-image: url("https://images.unsplash.com/photo-1616645500344-209060c84970?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
h1{
    font-size: 39px;
    margin-top: 0;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: 400;
}
.title{
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 22.4216px;
}
main{
    padding: 45px;
    position: relative;
}
.pizza-icon{
    font-size: 79px;
    
    
}
.pizza-title{
    font-size: 28px;
    line-height: 17px;
}
.pizza-description{
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
}
.price{
    
    font-size: 20px;
    line-height: 24px;
}
button{
    
    
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #3C3C3C;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius:50%;
    border: 1.5px solid #DEDEDE;

}
.container-inner{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #D2D2D2; 
    
    
}

.pizza-text{
    
    margin-right: 100px;
    
}
.container-2{
    position: relative;
    width: 504px;
    margin: 0 auto;
    
}
section{
    
}
.order-title{
    font-size: 28px;
    line-height: 17px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 60px;
}
.order{
    
    display: flex;
    justify-content: space-between;
}

.bottom-margin{
    margin-bottom: 0px;
}
.total-order{
    margin-top:20px; 
    border-top: 2px solid #393333;
    
    
}
.complete-order-btn{
    width: 100%;
    height: 60px;
    background-color: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    margin-top: 53px;
    margin-bottom: 66px;
}

.pop-up{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto; 
    width: 524px;
    height: 542.24px;
    background: #FFFFFF;
    border-radius: 4px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 250px 50px rgba(0, 0, 0, 0.25);
}

.pop-up-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}
.form-div{
    margin-top: 46px;
    text-align: center;
    
}
.input{
    width: 475.91px;
    height: 71.3px;
    border: 1.29664px solid #757575;
    border-radius: 3.88991px;
    padding-left: 26px;
    margin-bottom: 23px; 
    
}
.pay-btn{
    width: 475.91px;
    height: 71.3px;
    background: #16DB99;
    border-radius: 3.88991px;
    border: none;
}
.display{
    display: none;
}
.message-container-inner{
    margin-top: 45px;
    background-color: #ECFDF5;
    height: 120px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 252px;
    
}
.thank-message{
    font-weight: 400;
    font-size: 32px;
    line-height: 17px;
    color: #065F46;
}


